In [1]:
#딕셔너리 정의
# 키(key), 값(value)을 한 쌍으로 연관지어 사용하는 자료형
a = {"이름":"홍길동", "국어":100, "영어":88, "수학": 95}
a["수학"]

95

In [2]:
a["이름"]

'홍길동'

In [4]:
a.keys()        #key 값들을 반환

dict_keys(['이름', '국어', '영어', '수학'])

In [5]:
a.values()     #values 값들을 반환

dict_values(['홍길동', 100, 88, 95])

In [6]:
a.items       #딕셔너리 전체를 반환

dict_items([('이름', '홍길동'), ('국어', 100), ('영어', 88), ('수학', 95)])

In [7]:
a={"이름":"홍길동", "국어":100, "영어":88, "수학": 95}
for i in a.items() :         #for문을 이용하여 각 아이템들을 출력
    print(i, end = ",")

('이름', '홍길동'),('국어', 100),('영어', 88),('수학', 95),

In [8]:
for i in a.keys():       #for문을 이용하여 key값들만 출력
    print (i,end=",")

이름,국어,영어,수학,

In [9]:
for i in a.values():      #for문을 이용하여 values 값들만 출력
    print (i,end=",")

홍길동,100,88,95,

In [10]:
#get()은 해당 키의 값을 검색해서 없는 경우에 출력 내용을 지정하는 함수
a={"이름":"홍길동", "국어":100, "영어":88, "수학": 95}
print(a.get("과학"))        #딕셔너리 안에는 과학이 없으므로 none 출력

None

In [11]:
print(a.get("과학","없는 과목입니다."))   #과학이 없으면 없는 과목입니다.를 출력

없는과목입니다

In [12]:
print(a.get("수학","없는 과목입니다.")) #수학은 딕셔너리에 있으니까 값 출력

95

In [14]:
#딕셔너리 예제
#다음 문장에서 각각 쓰인 글자에 대한 계수를 하는 예제
text="""안녕하셔요. 오늘은 날씨가 매우 화창합니다.
그래서 기분이 매우 좋네요
너도 기분이 좋은가요 랄라랄랄라라라라라라 abc임마"""

a=dict() #하나의 딕셔너리 자료형을 정의
for c in text: #위에 정의한 텍스트를 하나씩 추출하여 처리
    if c not in a: #해당 추출글자가 지금까지의 딕셔너리에 없다면
        a[c]=1 #그때는 최초 1값으로 시작
    else: #이 경우는 해당 추출글자의 딕셔너리가 있다
        a[c] +=1 #그럼 해당 딕셔너리 키에 해당되는 값을 하나더함
print(a)

{'안': 1, '녕': 1, '하': 1, '셔': 1, '요': 3, '.': 2, ' ': 11, '오': 1, '늘': 1, '은': 2, '날': 1, '씨': 1, '가': 2, '매': 2, '우': 2, '화': 1, '창': 1, '합': 1, '니': 1, '다': 1, '\n': 2, '그': 1, '래': 1, '서': 1, '기': 2, '분': 2, '이': 2, '좋': 2, '네': 1, '너': 1, '도': 1, '랄': 3, '라': 7, 'a': 1, 'b': 1, 'c': 1, '임': 1, '마': 1}

In [15]:
#아래서 부터는 보기 힘드니 각 글자(키)를 소트해 본다
b=dict()          #딕셔너리 하나 더 정의
l=list(a.keys())  #앞에 딕서너리에 키만 뽑아 리스트를 만듦
l.sort()          #해당 리스트 소트
for c in l:      #각 리스트에 대하여 (결국 키값) 하나씩 뽑음
    b[c]=a[c]     # 새로운 딕셔너리는 키값 순서대로 다시 만듦
print(b)

{'\n': 2, ' ': 11, '.': 2, 'a': 1, 'b': 1, 'c': 1, '가': 2, '그': 1, '기': 2, '날': 1, '너': 1, '네': 1, '녕': 1, '늘': 1, '니': 1, '다': 1, '도': 1, '라': 7, '랄': 3, '래': 1, '마': 1, '매': 2, '분': 2, '서': 1, '셔': 1, '씨': 1, '안': 1, '오': 1, '요': 3, '우': 2, '은': 2, '이': 2, '임': 1, '좋': 2, '창': 1, '하': 1, '합': 1, '화': 1}

In [16]:
#집합
#수학적 의미의 집합과 동일
#대괄호{}로 원소를 표현하며 순서에 상관없이 표시
#다른 자료형으로부터 set()함수를 통해 집합으로 변환함
#(단, 딕셔너리 타입은 키만 집합으로 변환됨)
a ={1,2,2,2,2,3,3,3,4,5}
a

{1, 2, 3, 4, 5}

In [18]:
set(("a",1,2))    #"a"를 인덱스 1부터 2이전 사이에 끼워넣어라

{1, 2, 'a'}

In [19]:
set({"이름":"홍길동", "국어":100, "영어":88, "수학": 95})

{'국어', '수학', '영어', '이름'}

In [20]:
#집합의 정의
#add(값) ==> 원소 추가 시 사용
#remove(값) ==> 원소 삭제 시 사용
a = {1,2,3,4,5}
a

{1, 2, 3, 4, 5}

In [21]:
a.add(0)   #0을 추가한다.(set이므로 오름차순이니까 맨 앞에 add)
a

{0, 1, 2, 3, 4, 5}

In [26]:
a.add(2.4)  #2.4를 추가해준다.
a

{0, 1, 2, 2.4, 4, 5}

In [28]:
a.remove(2) # 2를 삭제해준다. (인덱스 삭제 아님)
a

{0, 1, 2.4, 4, 5}

In [29]:
#집합의 연산
A={1,2,3,4,5,6,7}
B={7,8,9,10}
A|B              #합집합을 의미

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [30]:
A&B      #교집합

{7}

In [32]:
A-B      #차집합

{1, 2, 3, 4, 5, 6}

In [33]:
#집합의 연산
#부등식을 사용하여 비교가 가능
{1,2,3} < {1,2}

False

In [34]:
 {1,2,3} > {1,2}

True

In [35]:
 {1,2,3} >= {1,2}

True

In [36]:
 {1,2,3} == {1,2}

False

In [37]:
{1,2,3} >= {3,1,2}

True

In [38]:
{1,2,3} == {3,1,2}

True

In [39]:
#컬렉션으로 변환
a=["a","b","c","d","e"]
b={}
for i in range (len(a)):    #len은 a의 size 
    b[i]=a[i] #a는 리스트 b는 딕셔너리
b

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

In [40]:
a=["a","b","c","d","e"]
b=enumerate(a) #여기 까지는 중간단계
b

In [41]:
b=dict(enumerate(a)); c=list(enumerate(a)) #딕셔너리와 리스트를 만든다
b

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

In [42]:
c

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [43]:
#컬렉션으로 변환
a={1,2,3,4,5,6,7,8}     #집합a
b={"a","b","c","d","e"} #집합b
zip(a,b)                #zip만으로는 단순히 object임

In [44]:
c=dict(zip(a,b));d=list(zip(a,b))
c

{1: 'd', 2: 'c', 3: 'e', 4: 'a', 5: 'b'}

In [45]:
d

[(1, 'd'), (2, 'c'), (3, 'e'), (4, 'a'), (5, 'b')]

In [46]:
a=(1,2,3,4,5,6,7,8) #튜플a
b=["a","b","c","d","e"] #리스트 b
c=dict(zip(a,b));d=list(zip(a,b))
c

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [47]:
d

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [48]:
#함수 인자에 컬렉션 값을 차례로 대입
def func(x):
    return x/2

x = (1,2,3,4,5,6)
for i in filter(func,x) :
    print(i)

1
2
3
4
5
6

In [49]:
# 함수 인자에 컬렉션 값을 차례로 대입
def func(x,y):
    return x+y

x=(1,2,3,4,5,6)
y=(7,8,9,10,11,12)
#for i in filter(func,x,y): #filter를 사용하면 에러
for i in map(func,x,y):
    print(i)

8
10
12
14
16
18

In [50]:
# 함수 인자에 컬렉션 값을 차례로 대입
x=(1,2,3,4,5,6)
y=(7,8,9,10,11,12)
for i in map(lambda x,y:x+y, x,y):
    print(i)

8
10
12
14
16
18

In [51]:
#컬렉션 주의사항
#컬렉션을 대입하면 값이 복사되는 것이 아니라 주소가 복사됨
a=[1,2,3]
b=a
b[2]=5    #값이 복사되는 것이 아니라 주소가 복사되기때문에 a,b둘다바뀜.
a

[1, 2, 5]

In [52]:
b

[1, 2, 5]

In [53]:
b[1]=3
a

[1, 3, 5]

In [56]:
# copy
a=[1,2,3]
b=a[:]
b[2]=5
a

[1, 2, 3]

In [57]:
b

[1, 2, 5]

In [58]:
a=[1,2,3]
b=a.copy()
b[2]=5
a

[1, 2, 3]

In [59]:
b

[1, 2, 5]

In [60]:
#deepcopy
#컬렉션 안에 컬렉션 있을 때 copy쓰면 첫번째만 복사됨
#아래 레벨의 모든 컬렉션을 복사할 경우 deepcopy 사용
a=[[1,2],3,4]
b=a.copy()
b

[[1, 2], 3, 4]

In [61]:
b[0][1]=3
b

[[1, 3], 3, 4]

In [62]:
a      #컬렉션 안에 컬렉션이 있는 경우 copy만으로 2레벨 이상의 리스트까지 복사X

[[1, 3], 3, 4]

In [63]:
a=[[1,2],3,4]
b=a[ : ]        
b

[[1, 2], 3, 4]

In [64]:
b[0][1]=3
a

[[1, 3], 3, 4]

In [65]:
import copy as c         #아래 레벨의 모든 컬렉션을 복사하기 위해 deepcopy 사용

a=[[1,2],3,4]
b=c.deepcopy(a)
b[0][1]=3
print(a,b)

[[1, 2], 3, 4] [[1, 3], 3, 4]