In [1]:
#리스트의 정의
a=[1,2,3,4,5]    #리스트를 지정하면 인덱스0부터 n-1까지의 변수로 지정
a[0],a[1],a[2],a[3],a[4]

(1, 2, 3, 4, 5)

In [2]:
a =[11,"abc",12.33333,"안녕",2+3j]    #리스트 내부는 서로 다른 형태의 자료형 저장가능
a[0],a[1],a[2],a[3],a[4]

(11, 'abc', 12.33333, '안녕', (2+3j))

In [3]:
a[1]=1234; a[4]="홍길동"   #각 인덱스의 값을 바꿔주었음
a

[11, 1234, 12.33333, '안녕', '홍길동']

In [4]:
score = [90,80,70,60,30]
sum = 0
for s in score :
    print("점수(",s,")")
    sum += s
print("총점: ",sum)

점수( 90 )
점수( 80 )
점수( 70 )
점수( 60 )
점수( 30 )
총점:  330

In [5]:
#리스트의 표현방식
#[begin:end:step] 로 리스트 인덱스 표현 가능
a=[1,2,3,4,5]
a[0], a[-5]

(1, 1)

In [6]:
a[1],a[-4]

(2, 2)

In [7]:
a[2],a[-3]

(3, 3)

In [8]:
a[3],a[-2]

(4, 4)

In [9]:
a[4],a[-1]

(5, 5)

In [11]:
#인덱스가 0부터 시작하고,
#end 값은 그 값보다 작을 때까지 임에 주의할 것

a=[1,2,3,4,5,6,7,8,9,10]
a[2:8]    #2부터 8보다 작을 떄까지(인덱스:2~7)

[3, 4, 5, 6, 7, 8]

In [12]:
a[:4]    #처음부터 4보다 작을 때까지(인덱스:0,1,2,3)

[1, 2, 3, 4]

In [14]:
a[5:]   #5부터 끝까지

[6, 7, 8, 9, 10]

In [15]:
a[0:6:3]  #0부터 6보다 작을 때까지 3씩++(인덱스: 0, 3)

[1, 4]

In [16]:
#다중 리스트
a=[[1,2,3],[4,5,6],[7,8,9]]    #리스트로 구성된 리스트
a[2]                           #인덱스 2인 리스트 출력

[7, 8, 9]

In [17]:
a[2][2]

9

In [18]:
a[1][3]      #두번 째 리스트(내부)에는 인덱스가 2까지밖에없음

IndexError: list index out of range

In [19]:
a[1][2]

6

In [21]:
a=[[1,2],[3,4,5],6]      #가변 형태의 리스트
a

[[1, 2], [3, 4, 5], 6]

In [22]:
a[2]

6

In [23]:
a[1]

[3, 4, 5]

In [24]:
#리스트 컴프리헨션
#예제 1
a=[n*3 for n in range(1,10)]  #1부터 10까지의 리스트를 구성하여 각각에 3씩 곱함
a

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [25]:
#리스트 컴프리헨션
#예제 2
a=[n*3 for n in range(1,10) if n%2==0] #3으로 곱한 수 중에서 2의 배수인 것들만
a

[6, 12, 18, 24]

In [26]:
# 리스트 연습
def titleprint():
    pass

def itemprint(name,kortotal,engtotal,mathtotal):
    pass

def tailprint():
    pass

#데이터 2차원 리스트
score=[["나연",100,90,100],
        ["정연",90,90,100],
        ["모모",80,70,90],
        ["사나",90,90,80],
        ["지효",100,80,80],
        ["미나",50,90,90],
        ["다현",80,60,100],
        ["채영",70,80,90],
        ["쯔위",100,90,90]]

#프로그램을 보기 좋게 하려고 상수를 정의
name=0;kor=1;eng=2;mat=3

#여기부터 프로그램
titleprint()
for one_student in score:
    itemprint(one_student[name],one_student[kor],one_student[eng],one_student[mat])
tailprint() 

def titleprint():
    pass

def itemprint(name,kortotal,engtotal,mathtotal):
    pass
    print("="*50)
    print("이름\t국어\t영어\t수학\t총점\t평균")
    print("="*50)
              
def itemprint(name,kor,eng,mat):
    print(name,"\t",kor,"\t",eng,"\t",mat,"\t",kor+eng+mat,"\t",(kor+eng+mat)//3)

def tailprint():
    totkor=0
    toteng=0
    totmat=0
    for one_student in score:
        totkor+=one_student[kor]
        toteng+=one_student[eng]
        totmat+=one_student[mat]
    print("="*50)
    print("반총점\t",totkor,"\t",toteng,"\t",totmat,"\t"\
        ,(totkor+toteng+totmat)//9,"\t",(totkor+toteng+totmat)/3//9)
    print("="*50)

In [30]:
#리스트 관리
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [31]:
del a[2]        #2번째 리스트요소 삭제
a

[1, 2, 4, 5]

In [32]:
del a[2]
a

[1, 2, 5]

In [33]:
a.clear()    #리스트 내용을 전부 지움
a

[]

In [35]:
del a    #a의 공간도 지운다.
a

NameError: name 'a' is not defined

In [36]:
del a
a.append(1)   #리스트가 정의되어 있지 않은 경우 추가는 불가

NameError: name 'a' is not defined

In [37]:
a=[]    #빈 리스트를 정의한다.
a.append(1)   #1값의 리스트 요소를 추가
a.append(2)
a.append(3)
a

[1, 2, 3]

In [38]:
a=[4,5,6]    #기존 a를 무시하고 재정의
a.append(10) #10을 뒤에 요소로 새롭게 넣는다.
a

[4, 5, 6, 10]

In [39]:
a=[1,2,3,4,5]
a.append(6)       #append는 맨 뒤에 하나의 요소를 삽입
a

[1, 2, 3, 4, 5, 6]

In [40]:
a.insert(3,12)    #3번 인덱스 자리에 12를 삽입
a

[1, 2, 3, 12, 4, 5, 6]

In [41]:
a.insert(4,15) #4번 인덱스 자리에 15 삽입
a

[1, 2, 3, 12, 15, 4, 5, 6]

In [42]:
a.insert(3,1)
a

[1, 2, 3, 1, 12, 15, 4, 5, 6]

In [43]:
# 여러 개의 요소를 삽입 시 list[n:n] = 방식으로 사용(n은 삽입 위치)
a=[1,2,3,1,12,15,4,5,6]
a[5:5] = [1,2,3,4,5,6]   #5에서 5까지의 영역에 해당 리스트 값을 대입한다.
a

[1, 2, 3, 1, 12, 1, 2, 3, 4, 5, 6, 15, 4, 5, 6]

In [44]:
a=[1,2,3,1,12,15,4,5,6]
a[5]=[1,2,3,4,5,6]  #배열 자체를 통으로 넣어버리게 된다.
a

[1, 2, 3, 1, 12, [1, 2, 3, 4, 5, 6], 4, 5, 6]

In [45]:
#두 개의 리스트를 병합하는 방법
#list.extend를 사용한다.
#"+연산"을 사용한다.
a = [1,2,3]
b = [4,5,6]
a = a+b    #+연산을 통해서 두 개의 리스트를 병합 할 수 있다.
a

[1, 2, 3, 4, 5, 6]

In [46]:
a = [1,2,3]
b = [4,5,6]
a.extend(b)     #extend를 사용하여 리스트 두개를 병합한다.
a

[1, 2, 3, 4, 5, 6]

In [47]:
#리스트 지우기
#list.remove(원하는 값)
#del(list[n:m])
#list.clear()
a=[1,2,3,3,4,4,5,6,7,7,7,7,8]
a

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7, 8]

In [48]:
a.remove(7) #첫 번째 만나는 7값을 가진 리스트 삭제
a

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 8]

In [49]:
a.remove(7) #첫 번째 만나는 7값을 가진 리스트 삭제
a

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 8]

In [50]:
a[5]=[] #다섯 번째에 빈 값[]이 들어 있는 리스트를 만듬(주의: a[5:5]=[]라고 해야 함)
a

[1, 2, 3, 3, 4, [], 5, 6, 7, 7, 8]

In [51]:
a[2:4]=[]
a

[1, 2, 4, [], 5, 6, 7, 7, 8]

In [52]:
del(a[4])
a

[1, 2, 4, [], 6, 7, 7, 8]

In [53]:
del(a[3])
a

[1, 2, 4, 6, 7, 7, 8]

In [54]:
a.clear() #다 지우나 빈 값에 리스트가 남음
a

[]

In [55]:
del(a) #리스트 정의까지 삭제
a

NameError: name 'a' is not defined

In [56]:
#list.pop()은 해당 위치를 리턴하고 삭제함 , n이 없으면 맨 마지막 요소 리턴
a=[1,2,3,3,4,4,5,6,7,7,7,7,8]
a.pop()
a

[1, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 7]

In [57]:
a.pop()
a.pop(3)
a

[1, 2, 3, 4, 4, 5, 6, 7, 7, 7]

In [58]:
a.pop(6)
a

[1, 2, 3, 4, 4, 5, 7, 7, 7]

In [59]:
a.pop(6)
a.pop(0)
a

[2, 3, 4, 4, 5, 7, 7]

In [60]:
#리스트 겁색
#list.index(값) ==> 해당 값이 처음 나오는 위치를 리턴
#list.conunt(값)==> 해당 값이 몇 번 나오는 지 리턴
a=[1,2,3,3,4,4,5,6,7,7,7,7,8]
a.index(7)

8

In [61]:
a.index(8)   #값 8의 위치는 12(0부터시작)

12

In [62]:
a.index(4)  #값 4의 위치는 4

4

In [63]:
a.count(7)  #7은 총 4번 나옴

4

In [64]:
#리스트 검색
#min(list), max(list)  ==> 리스트 중 최대값,최소값 구함
#len(list)  ==> 리스트의 크기(개수)를 구함

a = [1,2,3,3,4,4,5,6,7,7,7,7,8]
min(a)

1

In [65]:
max(a)

8

In [66]:
len(a)

13

In [67]:
a=[1,8,5,6,2,4,5,2,6,9,4]
a.reverse()         #지금의 리스트를 역순으로 바꾼다.
a

[4, 9, 6, 2, 5, 4, 2, 6, 5, 8, 1]

In [68]:
a.sort()   #오름차순으로 나열한다.
a

[1, 2, 2, 4, 4, 5, 5, 6, 6, 8, 9]

In [ ]:
#심화학습 (score)
#심화학습
import random as r
def titleprint():
    pass

def itemprint(name,kor,eng,mat):
    pass

def tailprint():
    pass

one_person=[]
score=[]
for i in range(100):
    one_person.append("name"+str(i)) #이름
    one_person.append(r.randrange(10,100)) #국어 10부터 100까지 임의에 값을 추출
    one_person.append(r.randrange(10,100)) #영어
    one_person.append(r.randrange(10,100)) #수학
    score.append(one_person[:]) #값을 복사해서 추가함에 주의할 것
    one_person.clear()
    
#프로그램을 보기 좋게 하려고 상수를 정의
name=0;kor=1;eng=2;mat=3

#여기부터 프로그램
titleprint()
for one_student in score:

In [69]:
#튜플
#튜플은 값을 변경할 수 없는 자료형으로 [] 대신 () 대입

a=(1,8,5,6,2,4,5,2,6,9,4)
a

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [70]:
a[5]

4

In [71]:
a[3:5]

(6, 2)

In [72]:
a[3:8]

(6, 2, 4, 5, 2)

In [73]:
a*2

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4, 1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [74]:
#값을 대입, 변경하거나 구조를 지우는 것은 불가능하다.
a = (1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4, 1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)
a

(1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4, 1, 8, 5, 6, 2, 4, 5, 2, 6, 9, 4)

In [75]:
a[1]=5       #값을 변경하지 못한다.

TypeError: 'tuple' object does not support item assignment

In [76]:
del a[4]     #변수 지우기도 못한다.

TypeError: 'tuple' object doesn't support item deletion

In [77]:
a.append(10)    #추가하는 것도 당연 안됨.

AttributeError: 'tuple' object has no attribute 'append'

In [80]:
#튜플 예시
#함수의 리턴 값을 여러 개 정의할 경우 튜플로 전달된다.

def location():
    latitude = 2, 17403
    longitude = 41, 40338
    return latitude, longitude      #이런 방식의 리턴은 튜플로 반환

a = location()
print(a)

((2, 17403), (41, 40338))