In [1]:
#대입연산자
a=3
b=4
c=123+456*6
a,b,c

(3, 4, 2859)

In [2]:
a+b = c    #왼쪽에는 값을 담을 변수가 들어가야 한다.

SyntaxError: cannot assign to operator (3672982017.py, line 1)

In [3]:
123+456 =a   #왼쪽에는 값을 담을 변수가 들어가야 함

SyntaxError: cannot assign to operator (1555494259.py, line 1)

In [4]:
#단순대입연산자
a = 1               #a는 수치형
a = a+"안녕"        #수치형에 문자형을 더하려고 하면 Tyoe에러 발생

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [5]:
a = "abc"     #a에 문자를 대입하면 a의 타입은 문자형이 된다.
a = a + "안녕"
a

'abc안녕'

In [6]:
#복합형태 대입 연산자
#a,b = b,a 로 a,b 변수의 값을 서로 바꿀 수 있다.
a = 1
b = 2
a,b

(1, 2)

In [7]:
a,b = b,a
a,b

(2, 1)

In [9]:
#여러 변수의 값을 한번에 대입할 수 있다.
a,b,c,d,e,f=1,2,"안녕","하세요",3,4
a,b,c,d,e,f

(1, 2, '안녕', '하세요', 3, 4)

In [10]:
#단순 변수는 값을 대입하는 것이지만, 컬렉션의 경우 같은 변수를 공유하는 것임
a = b= 1
a,b

(1, 1)

In [11]:
b = 2
a,b

(1, 2)

In [12]:
a=b=[1,2,3]
a,b

([1, 2, 3], [1, 2, 3])

In [13]:
a[1]=4       #a의 1번 변수만 바꿔주었는데, 컬렉션은 변수를 공유하기에 b의 값도 바뀜
a,b

([1, 4, 3], [1, 4, 3])

In [14]:
#컬렉션에서 값을 복사하는 경우
a = [1,2,3,4,5]
b = a[:]      #a컬렉션의 값을 복사한다.
a,b

([1, 2, 3, 4, 5], [1, 2, 3, 4, 5])

In [15]:
a[2] = 5      #a컬렉션의 인덱스2값을 바꾸면 자동으로 b의 해당 인덱스 값도 바뀜
a,b

([1, 2, 5, 4, 5], [1, 2, 3, 4, 5])

In [2]:
import sys
a = 1232          #a=123이라고 정의하면 어느 공간에 값을 놓고 참조를 함
sys.getrefcount(123)

27

In [3]:
b = 123; sys.getrefcount(123)  #b=123을 만나면 참조횟수가 증가한다.

29

In [4]:
c = 123; sys.getrefcount(123)   #c=123을 만나면 참조 횟수가 증가

30

In [5]:
#산술연산자
1+2*3/4

2.5

In [6]:
2**3         #2^3

8

In [7]:
10/3

3.3333333333333335

In [8]:
1e12*12345678910112

1.2345678910112e+25

In [10]:
a = 1+2j
a + (123 + 12j)

(124+14j)

In [12]:
#정수형 연산자
5/2

2.5

In [13]:
5//2   # //(정수형 나눗셈)

2

In [14]:
5%2   # %(나머지연산)

1

In [15]:
a = 1; a=a+1; print(a)    #누적 a+=a

2

In [16]:
a = 1; a+=1 ; print(a)

2

In [17]:
a*=12;a

24

In [18]:
a*=2; a

48

In [19]:
a = 1; a-=1; a

0

In [20]:
a -= 1; a

-1

In [22]:
#자바에서 쓰이는 a++, a--는 사용할 수 없음
a =1 
a++

SyntaxError: invalid syntax (2621209702.py, line 3)

In [24]:
a--

SyntaxError: invalid syntax (1562500846.py, line 1)

In [25]:
a =+ 1; a

1

In [26]:
a=- 1; a

-1

In [27]:
#문자형 변환
a = "멍멍이"
b = "고양이"
a + b

'멍멍이고양이'

In [29]:
a * 3 + b * 2

'멍멍이멍멍이멍멍이고양이고양이'

In [30]:
"-" * 20

'--------------------'

In [31]:
a = 1
b = "강아지" + a + "마리"  #a변수가 int 형태이기 때문에 str로 바꿔서 합해줘야함

TypeError: can only concatenate str (not "int") to str

In [32]:
b = "강이지" + str(a) + "마리"
b

'강이지1마리'

In [34]:
#ord() 함수는 문자의 내부코드값을 반환한다.
ord("가")

44032

In [35]:
hex(ord("a"))

'0x61'

In [36]:
#문자 a부터 z까지의 문자의 내부코드값을 출력
for c in range (ord('a'), ord('z') + 1) :
    print(hex(c), "=", chr(c), ", ", end = "")

0x61 = a , 0x62 = b , 0x63 = c , 0x64 = d , 0x65 = e , 0x66 = f , 0x67 = g , 0x68 = h , 0x69 = i , 0x6a = j , 0x6b = k , 0x6c = l , 0x6d = m , 0x6e = n , 0x6f = o , 0x70 = p , 0x71 = q , 0x72 = r , 0x73 = s , 0x74 = t , 0x75 = u , 0x76 = v , 0x77 = w , 0x78 = x , 0x79 = y , 0x7a = z ,

In [37]:
#숫자형 변환
a = "123"; a + 1         #str인 a를 먼저 int로 변환해줘야함

TypeError: can only concatenate str (not "int") to str

In [38]:
a = "123"; int(a) + 1     #str인 a를 int로 바꿔서 1을 더한다.

124

In [39]:
a = 12.3; int(a)      #float인 a를 int로 바꿔 소수점 아래를 없앤다.

12

In [40]:
a = "12.3"; int(a)        #str를 숫자형으로 바꿔도 결국 int가 아님(float)

ValueError: invalid literal for int() with base 10: '12.3'

In [41]:
float(a)         #str을 float 형으로 바꾼다.

12.3

In [43]:
a=1.1; 1+a+12      # float형인 a를 각 정수들과 더한다.

14.1

In [44]:
1+int(a)+12          #float인 a를 int로 바꾼 후 더한다.

14

In [45]:
int(3.14)         #float형을 int로 변환한다.

3

In [49]:
round(3.14)    # 해당 값을 반올림한다.

3

In [50]:
 round(3.14,1)    #해당 값을 반올림하여 소수점 1의자리까지 나타낸다.

3.1

In [51]:
 round(123456,-4)  #왼쪽으로 4칸 이동한 자리에서 반올림

120000

In [53]:
#올림계산
a=1234567
if(a%1000 !=0) :                 #1000으로 나누어 나머지가 있다면
    a = int(a/1000) *1000 + 1000 # 버린값에다 한자리를 올려준다.(올림처리)
else:
    a = int(a/1000)*10000
a

1235000